@import url('https://fonts.googleapis.com/css?family=Questrial|Didact+Gothic|Assistant');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*GENERAL CSS*/
body, html {background-color: #171717; margin: 0; height: 100%; width: 100%; font-family: 'Montserrat', 'Halvetica', 'Arial', sans-serif; overflow-x: hidden !important}
.centered {text-align: center; font-size: 0;}
.centered > div {float: none; display: inline-block; text-align: left; font-size: 13px;}
.container-fluid {margin-left: 395px; margin-right: 395px;}
a, a:hover, a:focus, a:active, a.active {outline: none; text-decoration: none;}
a {color: var(--theme-color);}
a:hover, a:focus, a:active, a.active {color: var(--theme-color);}


/* NAVBAR CSS */
.navbar-default {height: 80px; background-color: #222222; border: 0;}
.navbar-default .navbar-brand {font-size: 50px; font-weight: bold; text-align: center; padding-top: 30px; padding-bottom: 26px; color: var(--theme-color);}
.navbar-default .navbar-brand:hover, .navbar-brand:focus {color: var(--theme-color);}
.navbar-default .navbar-brand img {margin-top: -5px; width: 155px;}
.navbar-default .navbar-nav li {margin-top: 17px;}
.navbar-default .navbar-nav li a {font-size: 18px; color: #fff; transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out;}
.navbar-default .navbar-nav li a:hover {color: var(--theme-color);}
.navbar-default .navbar-nav li .active {color: var(--theme-color);}

/* MAIN CSS */
#img {width: 100%;}
#img img {transition: 1s; display: block; margin-left: auto; margin-right: auto;}
#img img:hover {-webkit-transform:scale(1.06); transform: scale(1.06); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 10px 30px 0 rgba(0, 0, 0, 0.19);}

#info {color: white;}
#info .card {transition: 1s;}
#info .card:hover {-webkit-transform:scale(1.06); transform: scale(1.06); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 10px 30px 0 rgba(0, 0, 0, 0.19);}
#info .card > .header {color: white; font-size: 25px; background-color: var(--theme-color); width: 100%; padding: 15px; text-align: center; font-weight: 600;}
#info .card > .body {color: white; font-size: 20px; background-color: #222222; width: 100%; padding: 15px;}
#info .card > .body > .img-info > .item {color: white; }
#info .card > .body > .img-info > .item > span {border-left: 3px solid var(--theme-color); padding-left: 7.5px; color: var(--theme-color); font-weight: 400;}
#info .card > .body > .view {background-color: transparent; border: 1px solid var(--theme-color); padding: 5px; display: block; text-align: center; width: 50%; color: white; margin-left: auto; margin-right: auto; transition: 1s; margin-top: 30px;}
#info .card > .body > .view:hover {background-color: var(--theme-color); width: 75%;}

/* MODAL CSS */
.modal-xl {width: 90%;}
.modal-header {color: white; font-size: 25px; background-color: #222222; text-align: center; border: 0; border-bottom: 4px solid #333;}
.modal-header > .modal-title {font-size: 25px;}
.modal-body {color: white; background-color: #1a1a1a; border: 0; border-bottom: 4px solid #333;}
.modal-body > img {width: 50%; height: 50%; display: block; margin-left: auto; margin-right: auto;}

/* FOOTER CSS */
#footer {margin-top: 10px;}
#footer .body {background-color: #222222; border-top: 4px solid #333333;}

/* SCROLL BAR */
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {-webkit-border-radius: 10px; border-radius: 10px;}
::-webkit-scrollbar-thumb {-webkit-border-radius: 10px; border-radius: 0px; background: var(--theme-color);}
::-webkit-scrollbar-thumb:window-inactive {background: var(--theme-color);}

/* HIGHTLIGHT COLOR */
::selection {background: var(--theme-color); color: white;}
::-moz-selection {background: var(--theme-color); color: white;}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    .navbar-collapse {margin-top: 15px; background-color: #222; border: 0;}
    .navbar-header button {margin-top: 25px; border: none; color: #fff !important;}
    .navbar-header button .icon-bar {background-color: #fff !important;}
}